html, body{
  background-color: rgb(29, 91, 29);
  margin: 0px auto;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(243, 242, 242);
}

.title{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

button{
  margin: 10px;
}

.card{
  position: relative;
  width: 250px;
  left: 100px;
  margin-left: -75px;
  border-radius: 20px;
}
#computer-cards, #player-cards {
  height: 350px;
}
